.recommend__single-movie__wrapper {
	float: left;
	margin: 10px;
	width: 340px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: 0 2px 0 rgba(0,0,0,0.05);
	background: #fff;
}