$font-main: 'Open Sans', sans-serif;

$color-main: #02B4FF;

$color-crime: #fe3643;
$color-drama: #fe3643;
$color-triller: #fe3643;
$color-red: #fe3643;
$color-red-darker: #CC202C;
$color-red-hover: #FD727C;

$color-adventure: #10B158;
$color-fantasy: #10B158;
$color-mystery: #10B158;
$color-green: #099045;

$color-family: #39BEEF;
$color-animation: #39BEEF;
$color-comedy: #39BEEF;
$color-blue: #405580;
$color-blue-darker: #263758;
$color-blue-hover: #5F749C;

$color-scify: #405580;
$color-action: #405580;
$color-horror: #405580;

$color-romance: #77405f;
$color-short: #77405f;
$color-adult: #77405f;

$color-biography: #FFA500;
$color-western: #FFA500;
$color-short: #FFA500;
$color-yellow: #C78202;

$weight-light: 300;
$weight-normal: 400;
$weight-semi-bold: 600;
$weight-bold: 700;

$retina: "only screen and (-webkit-min-device-pixel-ratio: 1.2),
only screen and (min--moz-device-pixel-ratio: 1.2),
only screen and (-o-min-device-pixel-ratio: 1.2/1),
only screen and (min-device-pixel-ratio: 1.2),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.2dppx)";